<h1 class="center">Top Playlists</h1>

<%= link_to 'Create New Playlist', new_list_path %>

<% @lists.each do |list|%>
    <ul>
        <li>
            <%= list.name %> 
            <%= link_to 'View Playlist', list_path(list) %> 
            <%= link_to 'Edit Playlist', edit_list_path(list) %>
            <%= link_to 'Delete Playlist', list_path(list) , method: :delete %>
        </li>
    </ul>
<% end %>